# dependencies
node_modules/

# build
.next/
out/

# misc
.DS_Store
*.pem
.env
.env.local
.env.local.development
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*

# vercel
.vercel

# swc
.swc/
